.in-post__section{
    margin-top: 20px;
    
    border-top: 1px solid #efefef;
    // border-bottom:1px solid #efefef;
    display: flex;
    flex-direction: column;
    // max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    .in-post__section__wrapper{
        display: flex;
        align-items:center;
        justify-content: center;
        margin: 28px auto 20px auto;
        .in-post__image{
            width: 20%;
            
            text-align:right;
            margin-right: 30px;
            @media(max-width: 1112px){
                width: 25%;
            }
            @media(max-width: 834px){
                width: 30%;
            }
            @media(max-width: 768px){
                margin-right:0;
            }
            @media(max-width: 420px){
                width: 90%;
            }
            .image__wrapper{
               
                
                img{
                    max-width: 100%;
                    height: auto;
                    
                    -webkit-box-shadow: -1px 2px 5px -1px rgba(94,94,94,1);
                    -moz-box-shadow: -1px 2px 5px -1px rgba(94,94,94,1);
                    box-shadow: -1px 2px 5px -1px rgba(94,94,94,1);
                    
                }
            }
            
        }
        .in-post__form{
            width: 40%;
            justify-self: flex-start;
            @media(max-width: 1112px){
                width: 50%;
            }
            @media(max-width: 1112px){
                width: 60%;
            }
            .in-post__form__text{
                
                .text{
                    font-size: 2.0rem;
                    color: $orange;
                    max-width: 90%;
                    @media(max-width: 768px){
                        
                        margin:0 auto;
                    }
                }
                
            }
            
        }
        form{
            width: 90%;
            margin-bottom: 0;
            input{
                width: 100%;
                color: $text-color;
                &:focus{
                    
                    border: 1px solid $light-grey;
                }
            }
            p{
                margin-bottom: 0;
                button{
                    background-color: $orange;
                    color: #fff;
                    width: 100%;
                    transition: $main-transition;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 20px;
                    border: 1px solid $light-grey;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // padding: 20px 10px;
                    &:hover{
                        background-color: $dark-green;
                    }
                }
            }
            
        }
    }
}

@media(max-width: 800px){
    .in-post__section{
        padding: 20px 0;
    }
    .in-post__section .in-post__section__wrapper .in-post__form{
        width: 100%;
        justify-content: center;
    }
    .in-post__section .in-post__section__wrapper{
        flex-direction:column;
    }
    .in-post__section .in-post__section__wrapper .in-post__form .in-post__form__text{
        text-align:center;
        margin: 20px auto;
    }
    .in-post__section .in-post__section__wrapper form{
        margin: 0 auto;
    }
}

@media(max-width: 480px){
    
    .in-post__section .in-post__section__wrapper .in-post__form .in-post__form__text .text{
        font-size: 16px;
    }
}