.ashley{
    .main-content{
        p:first-child{
            text-align: center;;
            .ashley-image{
                width: 200px;
                height: 200px;
                border-radius: 50%;
                border: 2px dashed $orange;

            }
        }
        
    }
}