.site-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    border-top: 1px solid rgba(0,0,0,.1);
    p{
        margin-bottom: 0;
    }
    .footer__info{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-size: 16px;
        a{
            text-decoration: none;
            
        }
        .footer__info--top{
            width: 100%;
            display: flex;
            justify-content:center;
            align-items: center;
            margin-bottom: 10px;
            p{
                text-align: center;
            }
        }
        .footer__info--bottom{
            width: 100%;
            display: flex;
            justify-content:center;
            align-items: center;
            flex-wrap: wrap;
        }
        
        
    }
}