/**
*GLOBAL STYLES 
**/

/***
BASE
**************************************/
/**********************************************
 * BASE STYLES
 *********************************************/

 *,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    word-break: break-word;
    word-wrap: break-word;
}
  html,
  body {
    margin: 0;
    padding: 0;
    font-size: $font-size-body;
    line-height: $line-height-body;
        -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-rendering: optimizeLegibility;
      color: $text-color;
      font-family: $poppins;
  }
  html{
    position: relative;
    min-height: 100%;
  }
  
 
  
  
  ul,
  ol,
  dl,
  hr,
  table,
  blockquote {
    margin-bottom: $line-height-body;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  h1[class],
  h2[class],
  h3[class],
  h4[class],
  h5[class],
  h6[class],
  h1:last-child,
  h2:last-child,
  h3:last-child,
  h4:last-child,
  h5:last-child,
  h6:last-child,
  p:last-child,
  ul:last-child,
  ol:last-child,
  dl:last-child,
  table:last-child,
  blockquote:last-child {
    margin: 0;
  }
  
  button,
  input,
  select,
  optgroup,
  textarea {
    color: $text-color;
    font-family: $poppins;
    font-weight: $regular;
    line-height: $line-height-body;
    text-rendering: optimizeLegibility;
    
  }
  input{
      border: 1px solid $light-grey;
      cursor: pointer;
    height: 40px;
    border-radius: 3px;
    padding: 10px 20px;
    background-color: #fff;
    
  }
  :focus,
  .form-control:focus {
    outline: 0;
    box-shadow: none;
  }

  input:-internal-autofill-selected,
  input:focus,
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[name="first_name"]:focus,
  input[name="email"]:focus{
      background-color: #fff !important;
      color: $text-color !important;
      -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
    color: $text-color !important;
    -webkit-text-fill-color: $text-color !important;
    font-weight: $semi-bold;
  }
  table,
  tr,
  th,
  td,
  div,
  span{
    box-sizing: border-box;
  }
  /**********************************************
   * TYPOGRAPHY
   *********************************************/
  
   h1{
     font-size: 40px;
     font-weight: $semi-bold;
     line-height: 44px;
     letter-spacing: 0;
   }
  
   h2{
     font-size: 28px;
     font-weight: $semi-bold;
     line-height: 36px;
     letter-spacing: 0;
   }
  
   h3{
     font-size: 21px;
     font-weight: $semi-bold;
     line-height: 26px;
     letter-spacing: 0;
   }
  
  
   /**********************************************
   * LINKS
   *********************************************/

a {
    color: $orange;
    transition: $main-transition;

    &:hover {
        color: $medium-green;

    }
}



/***
HELPERS
**************************************/




/**
* POST CATEGORIES
*______________________________________*/
.category-uncategorized {
    display: none;
}

.category-business {
    span {
        background: #f53a63;
    }
}
.category-child-development {
    span {
        background: $orange;
    }
}
.category-paperwork {
    span {
        background: #f53a63;
    }
}
.category-marketing {
    span {
        background: #f53a63;
    }
}
.category-parenting {
    span {
        background: $dark-green;
    }
}
.category-lifestyle-design {
    span {
        background: $dark-blue;
    }
}

/**
* COOKIE NOTICE
*______________________________________*/
#cookie-notice{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    a,.cookie__button{
        color: #fff;
        font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
        transition: $main-transition;
        &:hover{
            text-decoration: none;
            
        }
    }
    .cookie__button:first-of-type{
        display: none;
    }
}