


.site-header{
    height: 80px;
    
    position: fixed;
    width: 100%;
    z-index: 20;
    background-color: transparent;
    .nav__mobile__background.show-nav-bg{
        display: flex;
    }
    .nav__mobile__background{
        
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        position: absolute;
        background-color: $dark-blue;
        display: none;
        flex-direction: column;
        // justify-content: center;
        // align-items: center;
        .nav__wrapper--mobile.show-mobile-nav{
            display: block;
        }
        .nav__wrapper--mobile{
            display: none;
            margin-top: 100px;
            ul{
                margin: 0;
                padding: 0;
                list-style: none;
                li{
                    a{
                        color: #fff;
                        text-decoration: none;
                        font-size: 20px;
                        line-height: 26px;
                        font-weight: 600;
                    }
                }
                .current-menu-item{
                    text-decoration: underline;
                }
            }
        }
    }
    
    
.nav__wrapper--mobile-button{
    display: none;
    flex-direction: column;
    background-color: transparent;
    justify-content: space-between;
    transition: $main-transition;
    width: 26px;
    
    cursor: pointer;
    
    span{
        border: 1px solid $dark-blue;
        margin-bottom: 3px;
        border-radius: 3px;
        display: inline-block;
    }
}

.nav__wrapper--mobile-button.nav-open{
    span{
        border-color: #fff;
    }
    .nav__mobile--top{
        transform: rotate(45deg);
    }
    .nav__mobile--middle{
        display: none;
    }
    .nav__mobile--bottom{
        transform: rotate(-45deg) translate(4px, -3px);
    }
}
    .nav__wrapper--main.container:after{
        display: none;
    }
.nav__wrapper--main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        border-bottom: 1px solid $grey-border;
        @media(max-width: 399px){
            padding: 20px;
        }
        .nav__logo{
            

            img{
                max-width: 150px;
            }
        }
        .main-menu-container{
            flex: 1;
            display: none;
            justify-content: flex-end;
            align-items: center;
            @media(min-width: 992px){
                display: flex;
            }
            .main-menu-items{
                width: 80%;
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                .menu-item{
                    margin: 0 30px 0 0;
                    a{
                        color: $text-color-light;
                        font-weight: 600;
                        text-decoration: none;
                        font-size: 16px;
                        &:hover{
                            color: $light-orange;
                            font-weight: 600;
                            text-decoration: none;
                            border-bottom: 1px solid $light-orange;
                        }
                    }
                    
                }
                .menu-item:last-child{
                    margin-right: 0;
                }
                .menu-item.current-menu-item{
                    a{
                        
                        color: $light-orange !important;
                        font-weight: 600;
                        border-bottom: 1px solid $light-orange;
                    }
                }
            }
        }
     
        
        
    }
    &.header-scroll{
        
        .nav__wrapper--main{
            background-color: transparent;
            border-bottom: none;
            .nav__wrapper--mobile-button{
                span{
                    border-color: #fff;
                }
            }
            .main-menu-container{
                
                .main-menu-items{
                    .menu-item{
                        a{
                            color: #fff;
                            text-decoration: none;
                            &:hover{
                                color: $light-orange;
                            }
                        }
                    }
                }
            }
        }
    }
    .nav__wrapper--main.nav--transparent{
        background-color: transparent;
        border-bottom: none;
        .nav__wrapper--mobile-button{
            span{
                border-color: #fff;
            }
        }
        .main-menu-container{
            
            .main-menu-items{
                .menu-item{
                    a{
                        color: #fff;
                        text-decoration: none;
                        &:hover{
                            color: $light-orange;
                        }
                    }
                }
            }
        }
    }
}