.page-template-no-image-template.thank-you{
    .no-image__content{
        p{
            img.thank-ewe{
                width: 480px;
                height: 270px;
                @media(max-width: 420px){
                    width: 300px !important;
                    height: auto !important;
                }
            }
        }
    }
    
    
}