/***
COLORS
**************************************/
$dark-green: #53beb4;
$bright-green: #2fc3b5;
$medium-green: #97D8D1;
$light-green: #def3ec;
$blue-overlay: rgba(69, 159, 221, 0.8)
;
$original-blue:#27769f;
// $dark-blue:  #459fdd;
$dark-blue:  #3A89C9;
$medium-blue: #00a0d6;
$pink: #f53a63;
$light-pink:#ffb0b6;
$orange:#ff8247;
$light-orange: rgb(251, 193, 129);
$light-purple: #e2bfdf;
$text-color: #5f5f5f;
$text-color-light: rgba(95, 95, 95, .7);
$orange-overlay: rgba(255, 130, 71, .3);
$white-overlay: rgba(255, 255, 255, .75);
$main-transition: all 0.3s linear;
$grey-border: rgba(0, 0, 0, 0.1);
$light-grey: #efefef;
$box-shadow: -1px 2px 5px -1px #cecece;
$shadow-grey: #cecece;

/***
TYPOGRAPHY
**************************************/
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$font-size-body: 16px;
$line-height-body: 1.5;
$poppins: 'Poppins', sans-serif;