.page-template-course-listing-template{

    .course-listing__hero{
        margin-top: -80px;
        padding: 150px 0 150px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        @media(max-width:1024px){
            height: 75vh;
        }
        @media(max-width:767px){
            // padding: 100px 0 75px 0;
        }
        .course-listing__hero__text{
            h1 {
                font-weight: 700;
                font-size: 60px;
                line-height: 1.1; 
                text-align: center;
                color: #fff;
                margin: 0 auto 30px auto;
                @media(max-width: 767px){
                    font-size: 45px; 
                }
                @media(max-width: 512px){
                    font-size: 40px; 
                }
                @media(max-width: 460px){
                    font-size: 35px; 
                }
                @media(max-width: 412px){
                    font-size: 30px; 
                }
               
                .smaller{
                    font-size: 40px;
                    font-weight: $semi-bold;
                    @media(max-width: 767px){
                        font-size: 35px; 
                    }
                    @media(max-width: 500px){
                        font-size: 30px; 
                    }
                    @media(max-width: 460px){
                        font-size: 24px; 
                    }
                    @media(max-width: 370px){
                        font-size: 20px; 
                    }
                }  
            }//h1
            .course-listing__hero__cta  {

            } 
        }//text container

        
    }//hero
    .course-listing__content{
        padding-top: 60px;
       .courses-headline{
           h2{
           
                font-weight: $light;
                color: $dark-green;
                text-transform: capitalize;
                text-align: center;
                font-size: 40px;
                line-height: 1.1;
          
           }
           .divider{
            width: 129px;
            height: 5px;
            background: $dark-green;
            margin: 40px auto;
            
           }
       }//headline
        .course-listing__courses{
            width: 100%;
            @media(max-width: 991px){
                flex-direction: column;
            }
            .course-box{
                width: 31%;
                
                align-self: stretch;
                @media(max-width: 991px){
                    width: 80%;
                    margin: 20px auto;
                }
                .course-name{
                    width: 100%;
                    h2{
                        text-transform: uppercase;
                        text-align: center;
                        color:#fff;
                        background: $dark-blue;
                        padding: 5px 0;
                        font-weight: $bold;
                    }
                }//name
                .course-image{
                    background-size: cover;
                    background-position: center center;
                    background-repeat: no-repeat;
                    width: 100%;
                    height: 200px;
                    box-shadow: 2px 3px 6px rgba(0,0,0,.4);
                    @media(max-width: 991px){
                        height: 300px;
                    }
                }//image
                .course-description{
                    width: 100%;
                    padding: 0 10px;
                    margin: 20px 0;
                    // height: 105px;
                    min-height: 50px;
                    @media(max-width: 991px){
                        height: auto;
                    }
                    h3{
                        text-transform: capitalize;
                        color: $dark-blue;
                        font-weight: $semi-bold;
                    }
                    
                }//description
                .course-learn-more{
                    cursor: pointer;
                    width: 100%;
                    padding: 0 10px;
                    border-bottom: 1px solid $light-grey;
                    margin-bottom: 20px;
                    padding-bottom: 5px;
                    .learn-more__image{
                        height: 16px;
                        width: 16px;
                        
                        svg{
                            width: 100%;
                            max-width: 100%;
                            g{
                                g{
                                    path{
                                        transition: $main-transition;
                                    }
                                }
                            }
                        }
                    }//learn-more__image
                    .learn-more__text{
                        margin-left: 10px;
                        color: $orange;
                        font-weight: $light;
                        transition: $main-transition;
                    }
                    &:hover{
                        .learn-more__image{
                            svg{
                                g{
                                    g{
                                        path{
                                            fill: $medium-green;
                                        }
                                    }
                                }
                            }
                        }
                        .learn-more__text{
                            color: $medium-green;
                        }
                    }

                    &.active{
                        .learn-more__image{
                            svg{
                                transform: rotate(180deg) translatey(3px);
                            }
                        }
                       
                    }

                } //learn-more
                .course-content{
                    display: none;
                    padding: 0 10px 20px 10px;
                    p{
                        .course-bundle{
                            color: $dark-blue;
                            font-weight: $semi-bold;
                        }
                    }
                    .styled-list-asterisk{
                        padding-left: 16px;
                        margin-left: 0;
                        li{}
                    }
                }//content
                .course-cta{
                    // padding: 0 10px 20px 10px;
                    a{
                        background: $orange;
                        color: #fff;
                        font-weight: $bold;
                        text-transform: uppercase;
                        padding: 10px;
                        text-decoration: none;
                        border-radius: 5px;
                        box-shadow:(2px 2px 3px rgba(0,0,0,.4));
                        &:hover{
                            background: $medium-green;
                            box-shadow:(2px 2px 6px rgba(0,0,0,.4));
                        }
                    }
                }
            }//course box
        }//courses
    }//course-listing__content
}
    
    

