.newsletter-template{
    .newsletter__content{
        // padding-top: 120px;
        padding-bottom: 40px;
        .newsletter__headline{
            margin-bottom: 40px;
            h1{
                color: $dark-green;
                font-weight: 600;
            }
        }
        .newsletter__post{
            h3{
                color: $dark-green;
                font-weight: 500;
                text-transform: uppercase;
            }
        }
    }
}


  